body {
  font-family: "Comfortaa", cursive;
  background: #393e46;
}
h1 {
  color: #48484a;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #48484a;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a:link {
  text-decoration: none;
}

small {
  color: #ececec;
}

p {
  font-size: 9px;
  text-align: center;
}

.temperature {
  font-size: 60px;
  line-height: 1;
  padding: 0px 4px 0px 0px;
}

.weather-icon {
  font-size: 64px;
  line-height: 1;
  padding: 0px 4px 0px 0px;
}

.units {
  position: relative;
  top: -20px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 8px;
  background: #ffff;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-temperature-min {
  opacity: 0.5;
}

.display_images {
  margin: 0 auto;
  display: block;
  font-size: small;
  border-radius: 8px;
}

.display_images img {
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: block;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.weather-details {
  position: relative;
  top: 20px;
}

figcaption {
  font-weight: normal;
  font-size: 11px;
}
